body{
	font-family: 'Dancing Script';
	background-color: #02010a;
}

.container{
	width: 900px;
	margin: auto;
}

.container1{
	display: flex;
	flex-direction: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background-color: #82c3a6;
}

.container2{
	display: flex;
	flex-direction: row;
	background-color: #d5c75f;
	border: 1px;
	text-align: center;
	padding: 20px;
}

.container3{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-radius: 0px 0px 10px 10px;
	text-align: center;
	background-color: #C6d5c5;
}

header{
	background-color: #5b7989;
	color: white;
	border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	animation: slidein 1s;
}

	
@-webkit-keyframes slidein{
	0%{
		margin-top:150%;
	}
	60%{
		margin-top:-5%;
	}
	100%{
		margin-top:0%;
	}
}

header h1{
	text-shadow: 2px 0px #02010a;
}

div .c1, .menu{
	margin: auto;
}

a:link{
	text-decoration: none;
	color: white;
}

.container2 a:link{
	color: black;
}

p{
	margin: 0px;
}

.c2 img{
	width: 100%;
	height: auto;
	box-shadow: 2px 2px #02010a;
}

.c3 img, .c4 img{
	width: 80%;
	height: auto;
	box-shadow: 2px 2px #02010a;
}

.c3 img:hover{
	transform: rotate(10deg);
	box-shadow: 2px 2px #82c3a6;
}

.c4 img:hover{
	transform: translate(20px, -5px);
	box-shadow: 2px 2px #82c3a6;
}

.c7 img{
	width: 15%;
	height: auto;
}

.p1 img, .p2 img, .p3 img, .p4 img, .p5 img, .p6 img{
	width: 50%;
	height: auto;
	box-shadow: 2px 2px #02010a;
}

.p1 img{
	 filter: blur(10px);
	 -webkit-filter: blur(10px);
}

.p2 img, .p4 img, .p6 img{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.p3 img{
	 filter: sepia(90%);
	 -webkit-filter: sepia(90%);
}

@media (max-width: 900px) {
	header{
		display: flex;
		flex-direction: column;
	}
	
	.container2{
		display: flex;
		flex-direction: column;	
		justify-content: center;
		align-items: center;
		font-size: 30px;
	}

	p{
		margin: 0px;
	}

	.container3{
		display: flex;
		flex-direction: column;	
		justify-content: center;
		align-items: center;
		font-size: 30px;
		color: black;
	}
}
